<br><br>
<div class="mx-4 text-gray-500 uppercase text-xs">
  <small>copyright © <%= Time.now.year %> Sarah S | <a href="https://mit-license.org/">MIT License</a> | <a href="https://github.com/sarahsau/indoynab">GitHub</a></small>
</div>
