<div class="xl:flex">
  <%= render 'converters/header' %>

  <div class="p-6 bg-gray-50 text-gray-800 text-sm">
    <h3 class="text-lg text-gray-800 py-3 uppercase">FAQ</h3>
    <ol>
      <li>
        <strong class="text-gray-600">How to download the bank statement?</strong><br>
        See <a href="#get-statement">Getting Bank Statements</a>. The assumption is that you already have access to your bank's internet banking system (i.e. klikBCA, BNI Internet Banking, etc.). If you don't, request an internet banking credential by visiting your bank's nearest branch office.
      </li><br>
      <li>
        <strong class="text-gray-600">Which banks are currently supported by indoynab? </strong><br>
        <ul class="list-disc list-inside">
          <li>Bank Central Asia (BCA) -  CSV and PDF statements</li>
          <li>Bank Negara Indonesia (BNI)</li>
          <li>Bank Syariah Indonesia (BSI)</li>
          <li>BTPN Jenius</li>
        </ul>
      </li><br>
      <li>
        <strong class="text-gray-600">[insert Indonesian bank name] is not supported!</strong><br>
        I'll be glad to help build the converter for you! All I need is a sample of the bank's statement - you can remove personal information (name, account no) from it. Please open an issue in <a href="https://github.com/sarahsau/indoynab">Github</a> and share a sample of the bank statement that need to be converted.
      </li><br>
      <li>
        <strong class="text-gray-600">Help! YNAB doesn't accept the converted CSV/I found an error/I'm stuck </strong><br>
         Whoops! Please open an issue in <a href="https://github.com/sarahsau/indoynab">Github</a> and share all the files and error details.
      </li><br>
      <li>
        <strong class="text-gray-600">What is YNAB, by the way?</strong><br>
        You Need a Budget (YNAB) is a popular personal budgeting app. visit <a href="https://www.youneedabudget.com/">their site</a> for more information.
      </li>
    </ol>
    <br>

    <div class="pt-6">
      <h3 class="text-lg text-gray-800 py-3 uppercase" id="get-statement">Getting bank statements</h3>
        <strong class="text-gray-600">Bank Central Asia (BCA) - CSV statements </strong><br>
          <ul class="list-inside list-decimal">
            <li>Login to klikBCA</li>
            <li>Go to <em>Account Information</em> > <em>Account Statement</em></li>
            <li>Select the period of transactions that you want to import to YNAB</li>
            <li>Click <em>Statement Download</em> to download in CSV format.</li>
          </ul>
        <br>
          <strong class="text-gray-600">Bank Central Asia (BCA) - PDF statements </strong><br>
          <ul class="list-inside list-decimal">
            <li>Login to klikBCA</li>
            <li>Go to <em>e-Statement</em> > <em>Savings and Giro</em></li>
            <li>Select e-Statement period and click Download</li>
          </ul>
        <br>
          <strong class="text-gray-600">Bank Negara Indonesia (BNI)</strong>
            <ul class="list-inside list-decimal">
              <li>Login to BNI Internet Banking</li>
              <li>Go to <em>Rekening</em> > <em>Mutasi Tabungan dan Giro</em></li>
              <li>Select your account and put your query criteria, then select <em>Histori Transaksi</em></li>
              <li>Download to a PDF file</li>
            </ul>
        <br>
          <strong class="text-gray-600">Bank Syariah Indonesia (BSI)</strong><br>
          <ul class="list-inside list-decimal">
            <li>Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
            <li>Step 4</li>
          </ul>
        <br>
          <strong class="text-gray-600">BTPN Jenius</strong><br>
          <ul class="list-inside list-decimal">
            <li>Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
            <li>Step 4</li>
          </ul>
    </div>
    <br>
    <span class="underline"><%= link_to ' Back to home', root_path %></span>
  </div>
</div>

<%= render 'converters/footer' %>
