<div class="flex-col bg-gray-100 rounded p-4 sm:max-w-max md:max-w-full lg:max-w-screen-md">

  <div class="p-4">
    <label for="my-bank" class="font-semibold text-ynab-blue uppercase ">Select bank </label><br>
    <select name="my-bank" class="py-2">
      <option value="bni">Bank Negara Indonesia (BNI)</option>
      <option value="bca">Bank Central Asia (BCA)</option>
    </select><br>
      <div class="py-1">
        <small class="text-gray-600">Can't find your bank? <a href="https://github.com/sarahsau/indoynab">Request on Github</a></small>
      </div>
  </div>
  <br>

  <div class="p-4">
    <label for="my-statement" class="font-semibold text-ynab-blue uppercase ">Choose statement file</label><br>
    <input type="file" id="my-statement" name="filename" class="py-2"><br>
    <div class="py-1">
      <small class="text-gray-600">How to obtain one? visit <%= link_to "FAQ", faq_path %> </small>
    </div>
  </div>

  <br>
  <div class="p-4">
    <button class="bg-ynab-blue font-semibold text-xs text-white shadow-xs rounded p-3 px-4 uppercase" type="submit" name="button">convert</button><br>
    <div class="py-1">
      <small class="text-gray-600">YNAB-ready file will be automatically downloaded. </small>
    </div>
  </div>
</div>
