<div class="xl:w-2/3">
  <div class="flex-col bg-gray-50 rounded p-2 min-w-full inline-block text-center xl:text-left xl:p-4">

    <div class="p-4">
      <label for="bank"></label>
      <select id="bank" name="bank" class="p-2 text-ynab-blue bg-gray-50  focus:outline-none">
        <option value="none" selected disabled hidden>Select a bank</option>
        <option value="bni">Bank Negara Indonesia (BNI)</option>
        <option value="bca">Bank Central Asia (BCA)</option>
      </select>
      <br>
      <div class="py-1">
        <small class="text-gray-500">Can't find your bank? Open a request on <a href="https://github.com/sarahsau/indoynab"> Github</a></small>
      </div>
    </div>
    <br>

    <div class="p-4">
      <div class="">
        <label for="file" class="text-ynab-blue rounded border border-ynab-blue p-2 px-4 cursor-pointer hover:bg-blue-50">Select a file</label>
        <input type="file" class="hidden text-ynab-blue focus:outline-none" id="file">
      </div>
      <div class="py-1">
        <small class="text-gray-500">How to obtain one? visit <%= link_to "FAQ", faq_path %> </small>
      </div>
    </div>

    <br>
    <div class="pb-4 pl-4">
      <button class="bg-ynab-blue font-bold text-white rounded p-2 px-8 uppercase border-b-4 border-red-900 tracking-wider hover:bg-blue-500 active:outline-white type="submit" name="button">convert</button><br>
      <div class="py-1">
        <small class="text-gray-500">YNAB-ready file will be automatically downloaded</small>
      </div>
    </div>
  </div>
</div>
