<div class="faq">
  <h3>FAQ</h3>
  <ol>
    <li>
      <strong>How to download the bank statement?</strong><br>
      Assuming you have access to the internet banking system (i.e. klikBCA, BNI Internet Banking, etc.), follow <%= link_to "these bank-specific instructions", statement_instruction_path %> to get the statement. Otherwise, request an internet banking credential by visiting your bank's nearest branch office.
    </li><br>
    <li>
      <strong>Which banks are currently supported by indoynab? </strong><br>
      So far: Bank Negara Indonesia (BNI), Bank Central Asia (BCA).
    </li><br>
    <li>
      <strong>[insert Indonesian bank name] is not supported!</strong><br>
      I'll be glad to help build the converter for you! All I need is a sample of the bank's statement - you can remove personal information (name, account no) from it. Please open an issue in <a href="#">Github</a> and share a sample of the bank statement that need converted.
    </li><br>
    <li>
      <strong>Help! YNAB doesn't accept the converted CSV/I found an error/I'm stuck </strong><br>
       Whoops! Please open an issue in <a href="#">Github</a> and share all the files and error details.
    </li><br>
    <li>
      <strong>What is YNAB, by the way?</strong><br>
      You Need a Budget (YNAB) is a popular personal budgeting app. visit <a href="https://www.youneedabudget.com/">their site</a> for more information.
    </li>
  </ol>
</div>
