
<p class="text-4xl text-red-900 py-4 font-mono">
  <strong>indo<span class="text-ynab-blue">ynab</span> </strong>
</p>

<p class="text-gray-800 py-4">Convert your Indonesian bank statements into CSV files compatible with You Need A Budget (YNAB) app.</p>

<hr class="py-4">
